.img-fluid.logo{
    border: 1px solid #d5650f;
    border-radius:60px;
    padding: 5px;
}
.img-fluid.preload{
    width: 110px;
}

.domain-list{
    display: flex;
    justify-content: center;
}

.list-inline-item.menu-rs{
    padding-right:25px ;
    padding-left: 25px;
}

.img-fluid.img-1{
    border-radius: 30px;
}


.div-im-1{
    margin-top:10px;
}

.details-card-services{
    text-decoration: none !important;
    color: #e45913;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

.details-card-services:hover{
    color: #fff;
}

.card-services{
    border-top:1px solid #F45827;
    border-bottom:1px solid #F45827;
    border-radius: 10px;
    transition-duration:0.3s;
}

.card-services:hover{
    background: linear-gradient(80deg, #F45827, #f1af33);
    transition-duration:0.3s;
}

.card-services:hover .details-card-services{
    color: #fff;
}

.liste-services{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px !important;
}

.services-animation{
    display: block;
    cursor: pointer;
    transition-duration: 0.3s;
}
.services-animation:hover{
    color: #1934a7;
    font-size: 15px;
    transition-duration: 0.3s
}

/*pour les icones sur le fond d'ecran */

.icon-img-fond{
    display: inline-block;
    transition: transform 0.3s ease;
    cursor: pointer;

}

.title-icon{
    cursor: pointer;
}

.icon-img-fond:hover{
    transform: translateY(-10px);
    transition-duration: 0.3s;
}

/* Conteneur principal pour les cartes */
.card-container.video {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes sur les grands écrans */
    gap: 20px; /* Espacement entre les cartes */
    padding: 20px;
}

/* Style pour chaque card */
.card-video {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Animation hover pour agrandir légèrement les cartes */
.card-video:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Media queries pour les petits écrans */
@media (max-width: 1200px) {
    .card-container.video {
        padding:0;
        grid-template-columns: repeat(2, 1fr); /* 2 cartes par ligne pour les écrans intermédiaires */
    }
}

@media (max-width: 768px) {
    .card-container.video {
        padding: 0;
        grid-template-columns: 1fr; /* 1 carte par ligne pour les petits écrans */
    }
}


.action-btns.galerie{
    text-align: center;
}
.primary-solid-btn.galerie:hover{
    border:none;
}

/* Pour lifesport et le Slogan */

.lifesport-name{
    font-size: 20px;
    color: #F45827;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.lifesport-slogan{
    font-size: 32px;
    font-family: "Qwigley", cursive;
    font-weight: bold;
    font-style: normal;
}